<!DOCTYPE html>
<html lang="en">
<head>

	<title><%- page_title %> - </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="<%-site_root_url%>np-core/libs/jquery/jquery.min.js" type="text/javascript"></script> 

	<script src="<%-site_root_url%>np-core/libs/tinymce/tinymce.min.js" type="text/javascript"></script> 
	<script src="<%-site_root_url%>np-core/libs/tinymce/plugins/wordcount/plugin.min.js" type="text/javascript"></script> 


	<script src="js/init.js" type="text/javascript"></script>

 </head> 
 
<body style="overflow:auto;">


</body>

</html>