<%- include header %>

 

<!--[Load Body Content - Start]-->
<div style="padding:15px;"></div>

<%- include posts %> 

		

 
<!--[Load Body Content - End]-->

 
 


<%- include footer %> 