body {
    padding: 0px 0px 0px;
    background-color: #DAE3E6;
}
a {
    text-decoration: none;
}


.hlink {
    color: white;
    text-decoration: none;
}

.post_title_link {
    color: black;
    text-decoration: none;
}

p {
    margin: 0 0 24px;
    margin: 0 0 2.4rem;
    padding: 0;
    font: 16px/2 Georgia,Serif;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
 