<%- include header.ejs %>


<!--[Load 404 Content - Start]-->

<div class="container" style="text-align: center;  ">
	<i class="fa fa-frown-o" style="font-size:200px;"></i>

	<div style="text-align: center;">
		<span style="font-size:48px">Oh...No</span>
	</div>

	<br><br>
	<p style="text-align: center;">
		<span style="font-size:28px">Can't Find Your Page....</span>
	</p>
	<br><br>
	<a class="btn btn-success" href="<%- site_url %>"> 
		<i class="fa fa-arrow-left fa-2x "> Go Home</i> 
	</a>
</div>
<!--[Load 404 Content - End]-->


<%- include footer.ejs %> 