 
<!--[Load Page Content - Start]-->

  
<form role="search" method="get" class="search-form" action="<%- search_url %>">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="search-field" required placeholder="Search ..." value="" name="s" title="" />
	</label>
	<button type="submit" class="btn fa fa-search ">
		<span class="screen-reader-text">Search</span>
	</button>
</form>
 
<!--[Load Page Content - End]-->
 