
		<br><br>

<!--[Load Blog Posts Pagination Content - Start]-->
	<div class="text-center">
		<ul class="pagination pagination-lg " >
			<%- pagination %>
		</ul>
	</div>
<!--[Load Blog Posts Pagination Content - End]-->
 