 
<!--[Load Page Content - Start]-->

<div class="np_widget_search">
   	<input type="search" class="form-control np_search_box" required="" placeholder="Search ..." value=""  title="Search for:">                                            
   	<button type="submit" class="btn fa fa-search np_btn_search">Search</button>
</div>
 
<!--[Load Page Content - End]-->
 