  

<style type="text/css">
  
.btn:focus,.upload-btn:focus {
    outline: 0!important;
}

.row {
    margin-top: 80px;
}
html,body {
    height: 100%;
    background-color: #d6dadd;
}

body {
    text-align: center;
    font-family: 'Raleway',sans-serif;
}

@media (min-width: 768px) {
    .main-container {
        width:100%;
    }
}

@media (min-width: 992px) {
    .container {
        width:450px;
    }
}


</style>

<!--[Login Screen - Start]-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="img/nodepress-js.png" class="img-responsive center-block"><br>

          <div style="display:none" class="LoginAlert"></div>

          <!--[Login Form - End]-->
          <div class="LoginForm">
          	<div class="form-group">           
  	            <div class="input-group">
  	              <div class="input-group-addon "> <i class="glyphicon glyphicon-user" aria-hidden="true"></i> </div>
  	              <input type="text" class="form-control Login_Frm Login_ID" placeholder="User ID">
  	            </div>
  	            <br><br>
  	            <div class="input-group">
  	              <div class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></div>
  	              <input type="password" class="form-control Login_Frm Login_Password"  placeholder="User password">
  	            </div>

  	        </div>
  	        <button class="btn btn-lg upload-btn Login_Btn" type="button">Login</button>

            <br>
            <br>

        </div> 
        <!--[Login Form - End]-->

        </div>
      </div>
    </div>
  </div>
</div> 
	
<!--[Login Screen - End]-->