

<div class="row animated fadeInUp">

	<!--[add new categories div - end]-->
	<div class="col-md-4">  

  		<div class="panel panel-default">
		  <div class="panel-heading">Add New Category</div>
		  <div class="panel-body">

		  	<div class="new_category_alert"></div>

		  	<div class="form-group container_new_category">
				<!--[category name - start]-->
				<label style="font-size:16px;"  >Category Name</label>
				<input type="text" class="form-control  category_name" placeholder="type in category name here">		   			
				<!--[category name - end]-->

				<br> 

				<!--[category slug - start]-->
				<label style="font-size:16px;"  >Slug
					<i class="fa fa-question-circle-o"  data-toggle="tooltip" title="The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens" data-placement="right"></i>
				</label>
				<input type="text" class="form-control  category_field category_slug" placeholder="nodepress-js">		   			
				<!--[category slug - end]-->
				
				<br>
		  		<div class="btn  btn-primary btn_category" update_type="new">Add Category</div>
  			</div>

		  </div>
		</div> 

	</div>

	<!--[add new categories div - end]-->


	<!--[spacer div - start]-->
	<div class="col-md-2 category_msg_pointer"></div>
	<!--[spacer div - end]-->


	<!--[current categories div - start]-->
	<div class="col-md-6">		
	 
			<div class="panel panel-default">
				<div class="panel-heading">Current Category List</div>
				<div class="panel-body category_list" >					
				</div>
			</div>
	 
	</div>
	<!--[current categories div - end]-->

</div>


