<span href="#/pages/new" class="ScreenMenu btn btn-primary" menu-id="posts_new" data-toggle="tooltip" title="" data-placement="right" data-original-title="Click The Button To Create New Page"> Add New</span>

<br><br>

<div class="pages_alert"></div>

<div class="page_data_container">

  <div class="panel panel-default">

    <!--[header - start]-->
    <div class="panel-heading">

      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bulk Action          
          <span class="caret"></span></button>
          
          <!--[menu optons - start]-->
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><a href="#" class="delete_selected_pages">Delete</a></li>
            <li class="divider"></li>
          </ul>
          <!--[menu optons - end]-->

      </div>
    </div>
    <!--[header - end]-->
    
    <!--[body - start]-->    
    <div class="panel-body">
      <div class="all_pages_data"></div>
    </div>
    <!--[body - end]--> 

  </div>

</div>