
<style type="text/css">

.menu_item_list_group 
{
    font-size: normal;
    text-decoration: none !important;
    border-radius: 20px;
    color: #555;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    

}

</style>

<div class="container1 container_menu">
 
    <h3>Create Menu</h3>
    <div class="row">

        
        <!--[pages/categories > start]-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Step 1                            
                    <div class="pull-right"> <i class="fa fa-arrow-right"></i> </div>
                </div>
                <div class="panel-body">

                    <small style="color: #999"><em>*** Click to add an item ***</em></small>
                    <br><br>

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#pages">Pages</a></li>
                        <li><a data-toggle="tab" href="#categories">Categories</a></li>
                    </ul>

                      <div class="tab-content">

                        <!--[pages > start]-->
                        <div id="pages" class="tab-pane fade in active container_pages">                                  
                            <br><br>
                            <a href="#" class="btn list-group-item btn_add_menu" page_text="Page 1" page_slug="page-1"> Page 1</a>
                            <br>
                            <a href="#" class="btn list-group-item btn_add_menu" page_text="Page 2" page_slug="page-2"> Page 2</a>
                           
                        </div>
                        <!--[pages > end]-->

                        <!--[categories > start]-->
                        <div id="categories" class="tab-pane fade container_categories">
                            <br><br>
                            <a href="#" class="btn list-group-item btn_add_menu" page_text="Category 1" page_slug="Category-1"> Category 1</a>
                            <br>
                            <a href="#" class="btn list-group-item btn_add_menu" page_text="Category 2" page_slug="Category-2"> Category 2</a>
                        </div>
                        <!--[categories > end]-->

                        
                      </div> 



                </div>
                
            </div>
        </div>
        <!--[pages/categories > end]-->


        <!--[add > start]-->
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">Step 2
                    <div class="pull-right"> 
                        <i class="fa fa-arrow-right"></i> 
                          
                    </div>
                </div>
                <div class="panel-body">
                    <form id="frmEdit" class="form-horizontal">
                        <input type="hidden" name="mnu_icon" id="mnu_icon">
                        <div class="form-group">
                            <label for="mnu_text" class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control menu_txt"  placeholder="Text">
                                    <div class="input-group-btn">
                                        <button id="mnu_iconpicker" class="btn btn-default" type="button"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mnu_href" class="col-sm-2 control-label">URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control menu_slug"   placeholder="URL">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mnu_target" class="col-sm-2 control-label">Target</label>
                            <div class="col-sm-10">
                                <select  class="form-control menu_target">
                                    <option value="_self">Self</option>
                                    <option value="_blank">Blank</option>                                             
                                </select>
                            </div>
                        </div>
              
                    </form>
                </div>

                <div class="panel-footer "> 

                    <span class="pull--left"> 
                        <i class="fa fa-plus  btn btn-success  btn_update_menu_with_icon btn_add_menu_to_step_3" update_type="edit" data-toggle="tooltip" data-placement="right" title="Click to update "> Update</i> 
                    </span>

                    <span class="pull-right"> 
                        <i class="fa fa-plus  btn btn-success  btn_add_menu_with_icon btn_add_menu_to_step_3" update_type="new" data-toggle="tooltip" data-placement="left" title="Click to add  "> Add</i> 
                    </span>

                    <br> <br>
                </div>

            </div>

        </div>
        <!--[add > end]-->

        <!--[save > start]-->
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading clearfix">

                    <h5 class="pull-left">Step 3</h5>
                    
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn_save_menu">
                            <i class="fa fa-check"></i> Save
                        </button>
                    </div>

                </div>
                
                <small style="color: #999">
                    <em>*** Drag to re-order menu item ***</em> 
                </small>

                <div class="panel-body" >

                    <ul class="sortableLists list-group" style="list-style-type: none;"> 

                    </ul>
                </div>
            </div>
             
        </div>
        <!--[save > end]-->

    </div>
     
</div> 

<div class="temp_menu_data"></div>
