 


<span href="#/plugins/upload-new" class="ScreenMenu btn btn-primary" data-toggle="tooltip" title="" data-placement="right" data-original-title="Click The Button To Create New Plugin"> Add New Plugin</span>

<br><br>


<div class="plugins_alert"></div>

<div class="plugin_data_container">



  <div class="panel panel-default">

    <!--[header - start]-->
    <div class="panel-heading"> 


      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Bulk Action          
          <span class="caret"></span></button>
          
          <!--[menu optons - start]-->
          <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><a href="#" class="bulk_selected_plugins_option" bulk_call_type="activate">Activate</a></li>
            <li class="divider"></li>
            <li><a href="#" class="bulk_selected_plugins_option" bulk_call_type="deactivate">Deactivate</a></li>
            <li class="divider"></li>
            <li><a href="#" class="bulk_selected_plugins_option" bulk_call_type="delete">Delete</a></li>
            <li class="divider"></li>
          </ul>
          <!--[menu optons - end]-->

      </div>
    </div>
    <!--[header - end]-->
    
    <!--[body - start]-->    
    <div class="panel-body">
      <div class="all_plugins_data"></div>
    </div>
    <!--[body - end]--> 

  </div>

</div>
 