
<!--[container upload new button - start]-->
<div class="container_new_plugin_uploader">
    <p>Here you can upload a new plugin </p>
    <br>
    <input class="btn btn-primary pull-center files btn_new_upload_plugin" type="file" accept="application/zip">
    <br>
</div>
<!--[container upload new button - end]-->

 
<!--[container alert messages - start]-->
<div class="new_plugin_file_upload_alert"></div>
<br><br>

<!--[container alert messages - end]-->

<!--[Progress Bar - Start]-->
<br><br>
<div class="bs-example UpluginUploadProgressBar" style="display:none; ">
	<div class="progress">
		<div class="progress-bar  progress-bar-success" style="width: 0%;" >1%</div>
	</div>
</div>
<!--[Progress Bar - End]-->
