
<div class="panel panel-default users_main_container">

    <div style="padding:1px;" class="">

        <!--[tab names - start]-->
        <ul class="nav nav-tabs" role="tablist">
  
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"  ><a href="#password" aria-controls="password" role="tab" data-toggle="tab">Password</a></li>
            
        </ul>
        <!--[tab names - end]-->

        <!--[tab content - start]-->
        <div class="tab-content" style="padding:10px;">

          

            <!--[tab profile > start]-->
            <div class="tab-content">
                
                <div role="tabpanel" class="tab-pane active" id="profile" style="padding:5px; ">
                    
                    <br> 
                    <p>Update your profile information below</p>
                    <br> <br>                   
                    <div class="input-group" style="">
                        <div class="input-group-addon "> Login ID
                            <i class="fa fa-question-circle-o" data-toggle="tooltip" title="" data-placement="right" data-original-title="This is used to login to the system"></i>
                        </div>
                        <input type="text" class="form-control   user_login" placeholder="user_login"  style="max-width:310px;">
                    </div>

                    <br> <br>

                    <div class="input-group">
                        <div class="input-group-addon "> Email</div>
                        <input type="text" class="form-control  user_email" placeholder="user_email" style="max-width:345px;" >
                    </div>
                    
                    <br> <br>

                    <div class="input-group">
                        <div class="input-group-addon "> Display Name
                            <i class="fa fa-question-circle-o" data-toggle="tooltip" title="" data-placement="right" data-original-title="This will be shown in the place of post author name"></i>
                        </div>
                        <input type="text" class="form-control   display_name" placeholder="display_name" style="max-width:275px;" >
                    </div>
                    
                    <br> <br>

                    <div class="input-group">
                        <div class="input-group-addon "> URL</div>
                        <input type="text" class="form-control   user_url" placeholder="user_url" style="max-width:350px;" >
                    </div>

                    <br>    

                    <button type="button" class="btn btn-primary btn_update_your_profile">Update</button>
                  

                </div>
             
                <!--[tab profile > end]-->


                <!--[tab password > start]-->
                <div role="tabpanel" class="tab-pane" id="password" style="padding:5px;">
                    
                    <br> 
                    <p>Update your password </p>
                    <br> <br>   

                    <div class="input-group">
                        <div class="input-group-addon "> Current Password</div>
                        <input type="password" class="form-control   current_password" placeholder="current password" style="max-width:325px;" >
                    </div>

                    <br><br>

                    <div class="input-group">
                        <div class="input-group-addon "> New Password</div>
                        <input type="password" class="form-control   new_password" placeholder="new password" style="max-width:348px;" >
                    </div>

                    <br><br>
                    <div class="input-group">
                        <div class="input-group-addon "> Confim New Password</div>
                        <input type="password" class="form-control   confim_new_password" placeholder="confim password" style="max-width:300px;" >
                    </div>

                    <br><br>

                    <button type="button" class="btn btn-primary btn_update_your_password">Update Password</button>
                  

                </div>
             
           
                <!--[tab password > end]-->

            </div>



            

             

        </div>
        <!--[tab content - end]-->

    </div>
</div>