 
<div class="panel panel-default container_setting_general"> 

        <div class="panel-heading"> <h3>Update - General Settings</h3> </div>
        <br> <br>   

        <div class="panel-body">
            <div class="input-group">
                <div class="input-group-addon "> Blog Name(site title)</div>
                <input type="text" class="form-control   blog_name"   style="max-width:325px;" >
            </div>

            <br><br>

            <div class="input-group">
                <div class="input-group-addon "> Site URL</div>
                <input type="text" class="form-control   site_url"  style="max-width:350px;" >

            </div>
            <br> 
            <em>Site URL Format : <mark> http://nodepressjs.com </mark> or <mark> https://nodepressjs.com </mark> </em>

            <br><br><br>
            <div class="input-group">
                <div class="input-group-addon "> Admin Email</div>
                <input type="text" class="form-control   admin_email"   style="max-width:300px;" >
            </div>

            <br><br>

            <button type="button" class="btn btn-primary btn_update_setting_general">Update </button>
        
        </div> 

    

</div>
         
