 
<div class="panel panel-default container_setting_reading"> 

        <div class="panel-heading"> <h3>Update - Reading Settings</h3> </div>
            

        <div class="panel-body">

            <hr>  
            <h4>Front page displays</h4>
            <br>  

            <label ></label>
              <input type="checkbox" class="front_page_type_posts"    > Your latest posts
            
            <br> <br>

            <label ></label>
            <input type="checkbox" class="front_page_type_page" > A static page (select below) 
         

            <br> <br>
            
            <form class="form-inline"  >    
                 
                    <label >Front page:</label>
                    <select class="form-control custom_page_pick page_on_front" disabled>
                        <option value="">— Select —</option>
                         
                       
                    </select>
                    
                    <br>   <br> 
                        
                    <label >Posts page:</label>
                        <select class="form-control custom_page_pick page_for_posts" disabled>
                            <option value="">— Select —</option>
                                                                   
                    </select>
                 
            </form>
                                        
            <hr>  
             <br>                    
                    
            
            <form class="form-inline"  > 
                <label >Total number of posts to show on a blog page 
                    <input class="form-control  posts_per_page" type="number" min="1"  value="10" style="max-width:75px;">
                </label>
            </form>
 

            <br>
            <hr>  

            <button type="button" class="btn btn-primary btn_update_setting_reading">Update </button>
        
        </div> 

    

</div>
         
