 
<div class="panel panel-default container_setting_cdn"> 

        <div class="panel-heading"> <h3>Update - CDN ( Content Delivery Network ) Settings</h3> </div>
            

        <div class="panel-body">

            <hr>             
            
            <p>To make <strong>your site load faster</strong>,&nbsp;check the box below to load important libraries from <a href="https://cdnjs.com/" target="_blank" rel="nofollow noopener noreferrer">CDNJS website</a>.</p>
            <p>Otherwise libraries will load from your own server(locally... good for testing only)</p>
            <br>  

            <label ></label>
              <input type="checkbox" class="cdn_libs"  > Use CDN To Load Libraries
              <i class="fa fa-question-circle-o" data-toggle="tooltip" title="" data-placement="top" data-original-title="check it to make your site load faster"></i>
            
            <br>  
  
            <hr>  

            <button type="button" class="btn btn-primary btn_cdn_lib">Update </button>
        
        </div> 

    

</div>
         
