<div class="panel panel-default seo_main_container">

    <div style="padding:1px;" class="">

    	<!--[tab names - start]-->
        <ul class="nav nav-tabs" role="tablist">
  
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            
        </ul>
        <!--[tab names - end]-->

        <!--[tab content - start]-->
        <div class="tab-content" style="padding:10px;">

          

            <!--[tab seo > start]-->
            <div class="tab-content">
            <br>
                <div role="tabpanel" class="tab-pane active" id="home" style="padding:5px;">

                    <div class="form-group"  >
                        <label style="font-size:16px;">Title 
                            <i class="fa fa-question-circle-o" data-toggle="tooltip" title="" data-placement="right" data-original-title="Try to keep it under 60 charactes"> </i>
                        </label>

                        <input type="text" class="form-control home_page_title"  placeholder="Home Page Title">
                    </div>
                    
                    <br>

            
                    <div class="form-group" >
                         
                        <label style="font-size:16px;">Meta Description
                            <i class="fa fa-question-circle-o" data-toggle="tooltip" title="" data-placement="right" data-original-title="Try to keep it under 160 charactes"> </i>
                        </label>
                        <textarea class="form-control home_page_description" rows="3" placeholder="Home Page Description"></textarea>
                    </div>

                    <br>
                   
                        <button type="button" class="btn btn-primary btn_update_home_page_seo_info">Update</button>

                </div>
             
            </div>
            <!--[tab seo > end]-->

             

        </div>
        <!--[tab content - end]-->

    </div>
</div>